{{ define "home" -}}

<!-- https://codepen.io/Oddgson/pen/VPrYbv -->
<style>
  
  .wrapper{
	  padding-bottom: 40px;
  }

  .divider{
	  position: relative;
	  margin-top: 40px;
	  height: 1px;
  }
  
  .div-transparent:before{
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 5%;
	  right: 5%;
	  width: 90%;
	  height: 1px;
	  background-image: linear-gradient(to right, transparent, #7a7a7a, transparent);
  }
  
  .div-arrow-down:after{
	  content: "";
  	position: absolute;
  	z-index: 1;
  	top: -7px;
	  left: calc(50% - 7px);
  	width: 14px;
	  height: 14px;
	  transform: rotate(45deg);
	  background-color: white;
	  border-bottom: 1px solid #7a7a7a;
  	border-right: 1px solid #7a7a7a;
  }
  
  .div-stopper:after{
	  content: "";
	  position: absolute;
	  z-index: 1;
	  top: -6px;
	  left: calc(50% - 7px);
	  width: 14px;
	  height: 12px;
	  background-color: white;
	  border-left: 1px solid #7a7a7a;
	  border-right: 1px solid #7a7a7a;
  }

  .grid-container{
    display: inline-grid;
    grid-template-columns: 70% 30%;
    gap: 50px 10px;
  }
  
  .home-sec{
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
  }
  
</style>

<div align="center">
  <h3 style="font-family: Georgia, serif;"> "In God we trust, all others bring data"</h3>
  <p style="font-family: Georgia, serif"> W.Edwards Deming </p>
</div>

<img style="width:100%;" id="image" src="images/portada_warwick_snow_1_larga.png">

{{ range .Site.RegularPages -}}
    {{ if eq .Type "welcome" -}}
      <h1 align="left", style="color:#49757a; font-weight:normal">
        {{ .Title }}
      </h1>
      <div>{{.Content}}</div>
      
    {{- end }}
{{- end }}

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="posts">
  <h1 align="left", style="color:#49757a; font-weight:normal"> From the blog <br></h1>
  {{ range first 2 (where .Site.RegularPages "Type" "in" (slice "post" "article")) -}}
    <article class="post">
      <div style="margin-left: 50px">
        <h2 class="post-title">
        <a href="{{ .Permalink }}", style="color:#313131; font-weight:normal"> {{ .Title }}</a>
      </h2>
      <div class="post-date">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time> · {{ .ReadingTime }} min read
      </div>

      {{ if .Description }}
        {{ .Description }}
      {{ else }}
        {{ .Summary }}
      {{ end }}

      {{ if .Truncated }}
      <div class="read-more-link">
        <a href="{{ .RelPermalink }}", style="font-size:12pt">Read More</a>
      </div>
      {{ end }}
      
      </div>
      
    </article>

  {{- end }}
  {{range .Site.Menus.main}}
    {{if eq .Identifier "posts"}}
      <p align="right">
        <a href="{{ .URL }}">Go to blog</a>
      </p>
    {{end}}
  {{end}}
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<h1 align="left", style="color:#49757a; font-weight:normal"> Projects </h1>
  {{ range first 5 (where .Site.RegularPages "Type" "=" "project") -}}
      <div class="grid-container">
        <div style="align-content: space-between; margin-left:40px">
          <h2 class="post-title">
            <a href="{{ .Permalink }}", style="color:#313131; font-weight:normal">{{ .Title }}</a>
          </h2>
          <p>
            {{ if .Description }}
              {{ .Description }}
            {{ else }}
              {{ .Summary }}
            {{ end }}
          </p>
          <div class="read-more-link">
            <a href="{{ .RelPermalink }}">See more</a>
          </div>
        </div>
        <div style="justify-self: end">
          <img src="{{ (.Resources.GetMatch "00_project_cover.png").Permalink}}" 
                 style="width: 80%; height: auto;"></img>
        </div>
      </div>
  {{- end }}
  {{range .Site.Menus.main}}
    {{if eq .Identifier "projects"}}
      <p align="right">
        <br>
        <a href="{{ .URL }}">See all projects</a>
      </p>
    {{end}}
  {{end}}

<div class="wrapper">
	<div class="divider div-transparent div-stopper"></div>
</div>

{{- end }}